* {
  font-family: "Pangolin", cursive;
  color: black;
  margin: 10px;
  padding-bottom: 5px;
}

body {
  background-color: #fdd900;
  width: 220px;
}

.header {
  text-align: center;
}

.stateTrue {
  text-align: center;
  color: green;
  padding-bottom: 10px;
}

.stateFalse {
  text-align: center;
  color: red;
  padding-bottom: 10px;
}

.privacy {
  text-align: center;
}
