@font-face {
  font-family: "Pangolin";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/pangolin/v6/cY9GfjGcW0FPpi-tWMfA79z4i6BHFpY.woff2)
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}

* {
  font-family: "Pangolin", cursive;
  color: black;
  margin: 10px;
  padding-bottom: 5px;
}

body {
  background-color: #fdd900;
  width: 220px;
}

.header {
  text-align: center;
}

.stateTrue {
  text-align: center;
  color: green;
  padding-bottom: 10px;
}

.stateFalse {
  text-align: center;
  color: red;
  padding-bottom: 10px;
}
