* {
  font-family: "Pangolin", cursive;
  color: black;
}

body {
  background-color: #fdd900;
  width: 220px;
  margin: 10px;
}

.textBig {
  font-size: 24px;
}

.textMid {
  font-size: 18px;
}

.textSmall {
  font-size: 12px;
}

.header {
  text-align: center;
}

.stateTrue {
  text-align: center;
  color: green;
  padding-bottom: 10px;
}

.stateFalse {
  text-align: center;
  color: red;
  padding-bottom: 10px;
}

.privacy {
  text-align: center;
}

.privacy > p {
  margin: 0px;
}

#text {
  margin-left: 10px;
  margin-left: 10px;
}

.lastUpdate {
  text-align: center;
}

.lastUpdate > p {
  display: inline;
}
